<h1>Welcome</h1>

<p>Add Branches</p>
<a href="/addbranch">Add Branch</a>

<p>Add Cars in branches</p>
<a href="/addcar">Add Cars</a>

<p>Delete Branches</p>
<a href="/deletebranch">Delete Branch</a>

<p>Delete Cars in branches</p>
<a href="/deletecar">Delete </a>
