<h1>Welcome</h1>

<p>Add Car to Collection</p>
<a href="/addCar">Add Car</a>

<p>Add Car to Branch</p>
<a href="/addCarBranch">Add Car to Branch</a>

<p>Add Branch</p>
<a href="/addBranch">Add Branch</a>

<p>Delete Branches</p>
<a href="/deleteBranch">Delete Branch</a>

<p>Delete Cars in branches</p>
<a href="/deletecar">Delete </a>
