<h1>This is Home page</h1>
<% if(authenticated == false) {%>
<a href="/signup">To signup page</a>
<br />
<a href="/login">Login</a>
<% }else { %>
<a href="/logout">Logout</a>
<% } %>

<br />
<a href="/city">For Booking</a>
